openapi: "3.0.2"

info:
  title: Stitch Connect
  description: https://www.stitchdata.com/docs/developers/stitch-connect/api
  version: "0.1"

servers:
  - url: https://api.stitchdata.com
    description: Stitch Connect


paths:
  /v4/destination-types:
    get:
      summary: >
        Retrieves general information about the configuration required for all
        supported destination types.
      tags:
        - Destination Types
      operationId: api.get_destination_types
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/destination-report-cards"

  /v4/destinations:
    get:
      summary: >
        Lists the destination currently in use for a Stitch account. Only a single
        data warehouse is supported per Stitch client account.
      tags:
        - destinations
      operationId: api.get_destinations
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successfully fetched destinations connected to the Stitch account
          $ref: "#/components/responses/destinations"

    post:
      summary: >
        Creates a new destination. Only a single destination is supported
        per Stitch client account.
      tags:
        - destinations
      operationId: api.create_destination
      requestBody:
        description: Object containing type and properties of a destination
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/destination-info"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Destination successfully created
          $ref: "#/components/responses/destination"
        "400":
          description: >
            Missing or prohibited arguments
        "400":
          description: >
            Only a single destination per account is allowed

  /v4/destinations/{destination_id}:
    put:
      summary: >
        Updates an existing destination. Modifications to the type attribute
        are not supported.
      tags:
        - destinations
      operationId: api.update_destination
      parameters:
      - $ref: "#/components/parameters/destination_id"
      requestBody:
        description: Object containing properties info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/destination-form-properties"
      responses:
        "200":
          description: >
            Destination successfully updated
          $ref: "#/components/responses/destination"
        "400":
          description: >
            Modifications to `type` are unsupported
        "400":
          description: >
            Invalid destination ID

    delete:
      summary: >
        Deletes an existing destination. Note: Stitch requires a destination to
        replicate data. Replication will be paused until a new destination is
        created and has a successful connection.
      tags:
      - destinations
      operationId: api.delete_destination
      parameters:
      - $ref: "#/components/parameters/destination_id"
      responses:
        "200":
          description: >
            Destination successfully deleted
        "400":
          description: >
            Invalid destination ID
        "502":
          description: >
            Destination ID not provided
        "502":
          description: >
            Destination ID contains illegal characters
      security:
      - bearerAuth: []

  /v4/sources:
    get:
      summary: >
        Lists the sources for an account, including active, paused, and deleted sources.
      tags:
      - sources
      operationId: api.get_sources
      responses:
        "200":
          description: >
            Account sources sucessfully fetched
          $ref: "#/components/responses/sources"
      security:
      - bearerAuth: []


components:
  schemas:
    destination:
      description: >
        An object representing a destination. Destinations are the data warehouses
        into which Stitch writes data.
      type: object
      properties:
        created_at:
          description: >
            The time at which the destination object was created.
          type: string
        deleted_at:
          description: >
            The time at which the destination object was deleted.
          type: string
        id:
          description: A unique identifier for this destination.
          type: string
        name:
          description: The name for the destination.
          type: string
        paused_at:
          description: >
            If the connection was paused by the user, the time the pause began.
            Otherwise, or if the connection is active, this will be null.
        properties:
          $ref: "#/components/schemas/destination-form-properties"
        report_card:
          $ref: "#/components/schemas/destination-report-card"
        stitch_client_id:
          description: >
            The ID of the Stitch client account.
          type: integer
        system_paused_at:
          description: >
            If the connection was paused by the system, the time the pause began.
            Otherwise, or if the connection is active, this will be null.
          type: string
        type:
          description: >
            The destination type. Must be one of: azure_sqldw, postgres,
            redshift, s3, or snowflake.
          type: string
        updated_at:
          description: >
            The time at which the destination object was last updated.
          type: string

    source-report-card:
      description: >
        A Source Report Card object contains information about a source’s connection
        configuration.
      type: object
      properties:
        current_step:
          description: >
            The index (in the steps array) of the current step needed to configure the
            data source.
          type: integer
        details:
          $ref: "#/components/schemas/connection-details"
        steps:
          description: >
            A sequential list of Connection Step objects required to complete configuration for the connection type.
          type: array
          items:
            $ref: "#/components/schemas/connection-step"
        type:
          description: >
            The connection type. Ex: platform.mysql or platform.hubspot
          type: string

    destination-report-card:
      description: >
        A Destination Report Card object contains information about a destination’s
        connection configuration.
      type: object
      properties:
        current_step:
          description: >
            The index (in the steps array) of the current step needed to configure the
            data source.
          type: integer
        details:
          $ref: "#/components/schemas/connection-details"
        steps:
          description: >
            A sequential list of Connection Step objects required to complete configuration for the connection type.
          type: array
          items:
            $ref: "#/components/schemas/connection-step"
        type:
          description: >
            The destination connection type. For example: postgres or redshift
          type: string

    connection-step:
      description: >
        Contained in a Source or Destination Report Card object, the Connection Steps object contains the steps necessary to configure a data source or destination.
      type: object
      properties:
        type:
          description: The type of step
          type: string
          enum:
            - form
            - oauth
            - profile
            - discover_schema
            - field_selection
            - fully_configured
        properties:
          description: >
            The destination connection type. For example: postgres or redshift
          type: array
          items:
            $ref: "#/components/schemas/connection-step-props"

    connection-details:
      description: >
        Contained in a Source or Destination Report Card object, the Details object
        contains information about a connection type’s availability within Stitch.
      type: object
      properties:
        access:
          description: >
            Indicates whether the Stitch client who made the request has access to the connection.

            This value is based on the connection’s pricing_tier and pipeline_state. If the Stitch client is using a plan that doesn’t meet the pricing_tier requirement, the access value will be false. For example: If pricing_tier: enterprise,the Stitch client must be on an Enterprise plan to access the source.

            All connections with a pipeline_state value of deprecated will also have an access value of false.
          type: boolean
        default_scheduling_interval:
          description: >
            Applicable only to source report cards. The default frequency_in_minutes
            value for the source.
          type: integer
        pricing_tier:
          description: >
            Indicates the type of Stitch plan required to use the connection. Possible values are:

            standard - Any Stitch plan can use the connection.
            premium - A Standard Stitch plan is required to use the connection.
            enterprise - An Enterprise Stitch plan is required to use the connection.
          type: string
          enum:
            - standard
            - premium
            - enterprise
        default_start_date:
          description: >
            Applicable only to source report cards. The default start_date value for
            the source.
          type: string
        pipeline_state:
          description: >
            The connection type’s release status in Stitch. Possible values are:

            alpha - The connection is in development and is not available in Stitch.
            beta - The connection is in open or closed beta and is available in Stitch.
            released - The connection is in general release and available in Stitch.
            deprecated - The connection has been deprecated and is no longer available in Stitch.
          type: string
          enum:
            - alpha
            - beta
            - released
            - deprecated
        protocol:
          description: >
            The type of the connection. For example: snowflake or platform.facebook
          type: string

    connection-step-props:
      description: >
        A Properties object contains the properties necessary to complete a connection
        step. Returned within a Source or Destination object, these properties provide
        information about the configuration status of the connection.
      type: object
      properties:
        name:
          description: The name of the property.
          type: string
        is_required:
          description: If true, the property is required for complete configuration.
          type: boolean
        is_credential:
          description: >
            If true, the property is a credential or otherwise sensitive data.
          type: boolean
        property_type:
          description: >
            Indicates the type of the property. Possible values are:

            user_provided - Indicates the property must be set by the user.
            read_only - Indicates the property is read-only and is not settable by the
            API. Generally, this is an internal field set inside of Stitch.
            system_provided_by_default - Indicates the property used to be
            system_provided: true, but can now be set by the API consumer. These are
            generally properties associated with OAuth for generating refresh and
            access tokens.

            Note: Use caution when setting these properties, as using incorrect values
            can put the source into a non-functioning state.
          type: string
          enum:
            - user_provided
            - read_only
            - system_provided_by_default
        json_schema:
          description: >
            Note: Data will only be returned for this array if property_type:
            user_provided or property_type: system_provided_by_default. If
            property_type: read_only, this property will be null.

            An array containing:

            type - A string indicating the expected data type of the property’s value.
            For example: boolean
            pattern - A string indicating the expected pattern of the property’s value.
            For example: ^\\d+$
            anyOf - A series of arrays containing key-value pairs for the type and
            format combinations Stitch will accept as the property’s value
          type: array
          items:
            type: object
            properties:
              type:
                description: >
                  A string indicating the expected data type of the property’s value.
                  For example: boolean
                type: string
              pattern:
                description: >
                  A string indicating the expected pattern of the property’s value. For
                  example: ^\\d+$
                type: string
              anyOf:
                description: >
                  A series of arrays containing key-value pairs for the type and format
                  combinations Stitch will accept as the property’s value. F
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    format:
                      type: string
        provided:
          description: >
            If true, the property has been provided. For properties where
            property_type: user_provided, this indicates that the user has provided the
            property.
          type: boolean

    hook-notification:
      description: >
        A Hook Notification object contains information about a webhook configured in
        the account’s Post-load hook list.
      type: object
      properties:
        id:
          description: The notification ID.
          type: integer
        client_id:
          description: The ID of the Stitch client account.
          type: integer
        created_at:
          description: The time at which the notification was created.
          type: string
          format: date-time
        modified_at:
          description: The time at which the notification was last modified.
          type: string
          format: date-time
        disabled_at:
          description: >
            The time at which the notification was disabled. This will be null unless
            the notification has been disabled.
          type: string
          format: date-time
        type:
          description: >
            The type of the notification. Possible values are: post_load
          type: string
          enum:
            - post_load
        version:
          description: The version of the hook service the notification is using.
          type: integer
        config:
          description: The configuration for the hook.
          type: object
          properties:
            url:
              description: >
                Applicable to hook notifications only. The webhook URL that Stitch
                should deliver hook notifications to.
              type: string

    destination-info:
      description: >
        Object containing information about the destination type and the
        properties associated with that type
      type: object
      properties:
        type:
          type: string
          description: >
            The destination type. Must be one of: azure_sqldw, postgres,
            redshift, s3, or snowflake.
        properties:
          $ref: "#/components/schemas/destination-form-properties"

    destination-form-properties:
      description: >
        Parameters for connecting to the destination, excluding any sensitive
        credentials. The parameters must adhere to the type of destination.
      type: object
      properties:
        csv_delimiter:
          description: csv delimiter character
          type: string
        output_file_format:
          description: >
            Defines the type of file Stitch will write to the bucket.
            Possible values are:

            - csv, which will use CSV (.csv) files
            - jsonl, which will use JSON (.jsonl) files
          type: string

    source:
      description: >
        An object representing a data source. Sources are the databases, APIs, and
        other data applications that Stitch replicates data from. Sources can be
        retrieved in a list or individually by ID.
      type: object
      properties:
        id:
          description: The unique identifier for this source.
          type: integer
        created_at:
          description: The time at which the source object was created.
          type: string
        deleted_at:
          description: The time at which the source object was deleted.
          type: string
        display_name:
          description: The display name of the source connection.
          type: string
        name:
          description: >
            The name of the source connection, dynamically generated from
            `display_name`. The `name` corresponds to the destination schema name that
            the data from this source will be loaded into.

            Names must:

            - Contain only lowercase alphanumerics and underscores
            - Be unique within each Stitch client account
          type: string
        paused_at:
          description: >
            If the connection was paused by the user, the time the pause began.
            Otherwise, or if the connection is active, this will be `null`.
          type: string
        properties:
          $ref: "#/components/schemas/source-form-properties"
        report_card:
          $ref: "#/components/schemas/source-report-card"
        stitch_client_id:
          description: The ID of the Stitch client account.
          type: integer
        system_paused_at:
          description: >
            If the connection was paused by the system, the time the pause began.
            Otherwise, or if the connection is active, this will be null.
          type:
            string
        type:
          description: The source type.
          type: string
        updated_at:
          description: The time at which the object was last updated.
          type: string

    source-form-properties:
      description: >
        Parameters for connecting to the source, excluding any sensitive credentials.
        The parameters must adhere to the type of source.
      type: object
      properties:
        api_type:
          description: >
            The Salesforce API Stitch should use to extract data.
            Possible values are REST or BULK.
          type: string

  parameters:
    destination_id:
      name: destination_id
      in: path
      description: The ID of the destination to be updated or deleted
      required: true
      schema:
        type: string

  responses:
    destination:
      $ref: "#/components/schemas/destination"

    destinations:
      description: List of destination objects
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/destination"

    destination-report-cards:
      description: List of destination report card objects
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/destination-report-card"

    sources:
      description: List of source objects
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/source"

  securitySchemes:
    bearerAuth:
      description: Access token
      type: http
      scheme: bearer
